.button {
    width: 10vh;

    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: none;
    border-radius: 0.5rem;

    color: var(--highlight);
    background-color: var(--background);

    transition: color 0.3s, background 0.3s;
}

.button:hover {
    color: var(--background);
    background-color: var(--highlight);
}
