.header {
    width: 10vw;
    height: 100vh;

    padding: 1rem;

    grid-area: header;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--highlight);
}

.titleLink {
    font-size: 1.5rem;
    text-decoration: none;

    color: var(--color);

    transition: color 0.3s, background 0.3s;
}
