.header {
    height: 15vh;

    padding: 1rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--highlight);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleLink {
    font-size: 1.5rem;
    text-decoration: none;

    color: var(--color);

    transition: color 0.3s, background 0.3s;
}
