.page {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    min-height: 10vh;

    display: flex;
    align-items: center;

    padding: 1rem;
}

.main {
    min-height: 85vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.footer {
    min-height: 5vh;

    display: flex;
    justify-content: center;
    justify-content: center;
}

.copyright {
    font-size: 12px;
}
